
*{font-family: 'Josefin Sans', sans-serif;}
#logo-text{
			font-weight: 700; text-decoration: underline;}



.banner-name{
			padding-top: 10px;}




.banner{
			background-color: yellow;}


#banner-text{
			line-height: 12px;}
